// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#link
{
margin-left:40px;
 width:1200px;
 height:480px;
 font-size:46px;
 color:white;
}
body{
	background-image: url(/assets/GreenCurves.jpg);
}